# Likes report by Aria C

## Section 1
By Aria Culpepper <br>
9/10/25 <br>
Source of information - My own instagram <br>
Purpose - I wanted to see my own information and see if it matches my own view of how it will turn out. The previously mentioned data could be analyzed to see what i was into and where i was at set points in time. <br>
Ways it's Reliable - Due to my account not being touched by other people - Other than me and the people who obtained it -  it has had little influence that could mess with the data. <br>
Why its Unreliable - Depending on how the select the information, it could be inaccurate or out of date.

## Start of Section 2 - Load File

Import Programs for later

In [39]:
import json
import pandas as pd
import matplotlib as plt

In [2]:
path = r"C:\Users\xxzep\OneDrive\Desktop\instagram-ariariariami-2025-08-25-nNvQWrZw\your_instagram_activity\likes\liked_posts.json"
with open(path) as j:
    dict = json.load(j)

## Start of Section 3 - Convert data

In [3]:
df = pd.DataFrame(dict)
df.head()

                                   likes_media_likes
0  {'title': 'alysaxliu', 'string_list_data': [{'...
1  {'title': 'tomisonline_', 'string_list_data': ...
2  {'title': 'bigglowmuvva', 'string_list_data': ...
3  {'title': 'imclarakim', 'string_list_data': [{...
4  {'title': 'piki__official', 'string_list_data'...

In [4]:
dict.keys()

dict_keys(['likes_media_likes'])

In [5]:
df_tidy = pd.DataFrame(dict['likes_media_likes'])
df_tidy.head()

            title                                   string_list_data
0       alysaxliu  [{'href': 'https://www.instagram.com/p/DNyPtSL...
1    tomisonline_  [{'href': 'https://www.instagram.com/p/DNxrNWB...
2    bigglowmuvva  [{'href': 'https://www.instagram.com/reel/DM8b...
3      imclarakim  [{'href': 'https://www.instagram.com/reel/DNo6...
4  piki__official  [{'href': 'https://www.instagram.com/reel/DNsm...

## Start of Section 4 -

In [6]:
df_tidy['string_list_data'].iloc[0]

[{'href': 'https://www.instagram.com/p/DNyPtSLUlSz/',
  'value': 'รฐ\x9f\x91\x8d',
  'timestamp': 1756145925}]

In [7]:
type(df_tidy['string_list_data'].iloc[0])

list

In [8]:
len(df_tidy['string_list_data'].iloc[0])

1

In [9]:
df_tidy['string_list_data'].iloc[0][0]

{'href': 'https://www.instagram.com/p/DNyPtSLUlSz/',
 'value': 'รฐ\x9f\x91\x8d',
 'timestamp': 1756145925}

In [10]:
df_tidy['string_list_data'].iloc[0][0]['timestamp']

1756145925

create a new collum and change

In [11]:
df_tidy['Time of Like'] = [i[0]['timestamp'] for i in df_tidy['string_list_data'] ]

df_tidy.head()

,title,string_list_data,Time of Like
0,alysaxliu,[{'href': 'https://www.instagram.com/p/DNyPtSL...,1756145925
1,tomisonline_,[{'href': 'https://www.instagram.com/p/DNxrNWB...,1756134231
2,bigglowmuvva,[{'href': 'https://www.instagram.com/reel/DM8b...,1756130468
3,imclarakim,[{'href': 'https://www.instagram.com/reel/DNo6...,1756130328
4,piki__official,[{'href': 'https://www.instagram.com/reel/DNsm...,1756129866

In [12]:

from datetime import datetime

In [13]:
df_tidy['Date of Like'] = [ datetime.fromtimestamp(i[0]['timestamp'] ) for i in df_tidy['string_list_data'] ]

In [14]:
df_tidy.head()

,title,string_list_data,Time of Like,Date of Like
0,alysaxliu,[{'href': 'https://www.instagram.com/p/DNyPtSL...,1756145925,2025-08-25 14:18:45
1,tomisonline_,[{'href': 'https://www.instagram.com/p/DNxrNWB...,1756134231,2025-08-25 11:03:51
2,bigglowmuvva,[{'href': 'https://www.instagram.com/reel/DM8b...,1756130468,2025-08-25 10:01:08
3,imclarakim,[{'href': 'https://www.instagram.com/reel/DNo6...,1756130328,2025-08-25 09:58:48
4,piki__official,[{'href': 'https://www.instagram.com/reel/DNsm...,1756129866,2025-08-25 09:51:06

In [15]:
df_tidy['Value'] = [ (i[0]['timestamp'] ) for i in df_tidy['string_list_data'] ]

In [16]:
df_tidy.drop(columns = ['string_list_data'])

                         title  Time of Like        Date of Like       Value
0                    alysaxliu    1756145925 2025-08-25 14:18:45  1756145925
1                 tomisonline_    1756134231 2025-08-25 11:03:51  1756134231
2                 bigglowmuvva    1756130468 2025-08-25 10:01:08  1756130468
3                   imclarakim    1756130328 2025-08-25 09:58:48  1756130328
4               piki__official    1756129866 2025-08-25 09:51:06  1756129866
...                        ...           ...                 ...         ...
3874             mikou_cosplay    1724617952 2024-08-25 16:32:32  1724617952
3875                   907x109    1724617948 2024-08-25 16:32:28  1724617948
3876            ksucosplayclub    1724617794 2024-08-25 16:29:54  1724617794
3877  dokidokicosplay_official    1724614133 2024-08-25 15:28:53  1724614133
3878            wholewheatpeet    1724611329 2024-08-25 14:42:09  1724611329

[3879 rows x 4 columns]

## Start of Section 5

In [17]:
df_tidy.groupby('title').count().sort_values('Value', ascending = True)

                 string_list_data  Time of Like  Date of Like  Value
title
0906yurin                       1             1             1      1
momoiiroo                       1             1             1      1
moonlight_opera                 1             1             1      1
moonmajora                      1             1             1      1
mrlnbrtz                        1             1             1      1
...                           ...           ...           ...    ...
pokemon                        68            68            68     68
woocasboocas                   70            70            70     70
usfigureskating                72            72            72     72
derestage                      89            89            89     89
azul_crescent                 137           137           137    137

[1071 rows x 4 columns]

## Start of Section 6

### Hypothesis

The amount of posts and stories that are liked has increasecd noticably in the past 4 months capared to the past year

## Rationale

Due to having an increace in the amount of free time due to summer in addition to going out with friends more will lead to a greater amount of post liked due to how much time and quantity of post are avaliable.

## Measured Variables

The "time of like" the "date of like"

## Start Of Section 7

## Measured File

Story_Likes

## Reasoning

In adition to seeing the amount of posts that are liked, it would also help to see the amount of likes that affect stories to supplement the preivously achieved info.

## Start Of Section 8

In [18]:
path = r"C:\Users\xxzep\OneDrive\Desktop\instagram-ariariariami-2025-08-25-nNvQWrZw\your_instagram_activity\story_interactions\story_likes.json"
with open(path) as j:
    dict = json.load(j)

## Start Of Section 9

In [19]:
df = pd.DataFrame(dict)
df.head()

                        story_activities_story_likes
0  {'title': '_orbie_draws_', 'string_list_data':...
1  {'title': 'interstellarsailor', 'string_list_d...
2  {'title': 'definitelynotnoah_', 'string_list_d...
3  {'title': 'crimson.frsh', 'string_list_data': ...
4  {'title': 'daijoubimasu', 'string_list_data': ...

In [20]:
dict.keys()

dict_keys(['story_activities_story_likes'])

In [21]:
df_tidy = pd.DataFrame(dict['story_activities_story_likes'])
df_tidy.head()

                title             string_list_data
0       _orbie_draws_  [{'timestamp': 1756144689}]
1  interstellarsailor  [{'timestamp': 1756144617}]
2  definitelynotnoah_  [{'timestamp': 1756144613}]
3        crimson.frsh  [{'timestamp': 1756144611}]
4        daijoubimasu  [{'timestamp': 1756144598}]

In [22]:
df_tidy['string_list_data'].iloc[0]

[{'timestamp': 1756144689}]

In [23]:
type(df_tidy['string_list_data'].iloc[0])

list

In [24]:
len(df_tidy['string_list_data'].iloc[0])

1

In [25]:
df_tidy['string_list_data'].iloc[0][0]

{'timestamp': 1756144689}

In [26]:
df_tidy['string_list_data'].iloc[0][0]['timestamp']

1756144689

In [27]:
df_tidy['Time of Like'] = [i[0]['timestamp'] for i in df_tidy['string_list_data'] ]

df_tidy.head()

                title             string_list_data  Time of Like
0       _orbie_draws_  [{'timestamp': 1756144689}]    1756144689
1  interstellarsailor  [{'timestamp': 1756144617}]    1756144617
2  definitelynotnoah_  [{'timestamp': 1756144613}]    1756144613
3        crimson.frsh  [{'timestamp': 1756144611}]    1756144611
4        daijoubimasu  [{'timestamp': 1756144598}]    1756144598

In [33]:
df_tidy['Date of Like'] = [ datetime.fromtimestamp(i[0]['timestamp'] ) for i in df_tidy['string_list_data'] ]
df_tidy.head()

,title,string_list_data,Time of Like,Value,Date of Like
0,_orbie_draws_,[{'timestamp': 1756144689}],1756144689,1756144689,2025-08-25 13:58:09
1,interstellarsailor,[{'timestamp': 1756144617}],1756144617,1756144617,2025-08-25 13:56:57
2,definitelynotnoah_,[{'timestamp': 1756144613}],1756144613,1756144613,2025-08-25 13:56:53
3,crimson.frsh,[{'timestamp': 1756144611}],1756144611,1756144611,2025-08-25 13:56:51
4,daijoubimasu,[{'timestamp': 1756144598}],1756144598,1756144598,2025-08-25 13:56:38

In [29]:
df_tidy['Value'] = [ (i[0]['timestamp'] ) for i in df_tidy['string_list_data'] ]

In [34]:
df_tidy.drop(columns = ['string_list_data'])

                   title  Time of Like       Value        Date of Like
0          _orbie_draws_    1756144689  1756144689 2025-08-25 13:58:09
1     interstellarsailor    1756144617  1756144617 2025-08-25 13:56:57
2     definitelynotnoah_    1756144613  1756144613 2025-08-25 13:56:53
3           crimson.frsh    1756144611  1756144611 2025-08-25 13:56:51
4           daijoubimasu    1756144598  1756144598 2025-08-25 13:56:38
...                  ...           ...         ...                 ...
1119  peopleinthedaytime    1724716105  1724716105 2024-08-26 19:48:25
1120        woocasboocas    1724714138  1724714138 2024-08-26 19:15:38
1121             h_srmts    1724714135  1724714135 2024-08-26 19:15:35
1122          gyokuo1007    1724712071  1724712071 2024-08-26 18:41:11
1123          lance.verr    1724710823  1724710823 2024-08-26 18:20:23

[1124 rows x 4 columns]

In [35]:
df_tidy.groupby('title').count().sort_values('Value', ascending = True)

                     string_list_data  Time of Like  Value  Date of Like
title
zildjiancompany                     1             1      1             1
teamkaori_sakamoto                  1             1      1             1
ha_na_bie_                          1             1      1             1
tamarajones1123                     1             1      1             1
im.a.salty.pretzel                  1             1      1             1
...                               ...           ...    ...           ...
crimson.frsh                       41            41     41            41
amberglenniceskater                54            54     54            54
h_srmts                            58            58     58            58
daijoubimasu                      106           106    106           106
woocasboocas                      210           210    210           210

[117 rows x 4 columns]

## Start of Section 10

### Data Representaion

This data makes an attempt to see when each post was liked and how often they were liked

### Is it tidy?

No, As much as I tried i felt like i hit roadblocks and wasn't entirely able to figure out how to clean it up. later attempts to put the information in grid form were meet with error codes that caused it to be scraped.

### Is it testable?

No, because the information remains unclear and unorganized it means that some of the information cannot be used due to it not providing a clear picture of what the data is supossed to represent